In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "myhomework13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [2]:
import django
django.setup()

In [3]:
from mall13.models import Shop

In [4]:
Shop.objects.all()

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=()

In [5]:
shop=Shop()
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [6]:
shop.save()

(0.032) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('투썸플레이스', '', '', '042-1234-1234', '2021-12-01 09:26:51.643159', '2021-12-01 09:26:51.643159'); args=['투썸플레이스', '', '', '042-1234-1234', '2021-12-01 09:26:51.643159', '2021-12-01 09:26:51.643159']

In [7]:
shop = Shop.objects.create(
    name ="피시방",
    telephone ="042-1234-1234"
)

(0.031) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('피시방', '', '', '042-1234-1234', '2021-12-01 09:26:52.051272', '2021-12-01 09:26:52.052270'); args=['피시방', '', '', '042-1234-1234', '2021-12-01 09:26:52.051272', '2021-12-01 09:26:52.052270']

In [8]:
qs = Shop.objects.all()

In [9]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" ORDER BY "mall13_shop"."id" DESC; args=()

4 피시방 042-1234-1234
3 투썸플레이스 042-1234-1234
2 피시방 042-1234-1234
1 투썸플레이스 042-1234-1234

In [10]:
for i in range(1,101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone =telephone,
    )

(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#1', '', '', '042-1234-9001', '2021-12-01 09:27:54.668474', '2021-12-01 09:27:54.668474'); args=['가게명#1', '', '', '042-1234-9001', '2021-12-01 09:27:54.668474', '2021-12-01 09:27:54.668474']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#2', '', '', '042-1234-9002', '2021-12-01 09:27:54.685351', '2021-12-01 09:27:54.685351'); args=['가게명#2', '', '', '042-1234-9002', '2021-12-01 09:27:54.685351', '2021-12-01 09:27:54.685351']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#3', '', '', '042-1234-9003', '2021-12-01 09:27:54.693336', '2021-12-01 09:27:54.693336'); args=['가게명#3', '', '', '042-1234-9003', '2021-12-01 09:27:54.693336', '2021-12-01 09:27:54.693336']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#4', '', '', '042-1234-9004', '2021-12-01 09:27:54.701308', '2021-12-01 09:27:54.701308'); args=['가게명#4', '', '', '042-1234-9004', '2021-12-01 09:27:54.701308', '2021-12-01 09:27:54.701308']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#5', '', '', '042-1234-9005', '2021-12-01 09:27:54.708288', '2021-12-01 09:27:54.708288'); args=['가게명#5', '', '', '042-1234-9005', '2021-12-01 09:27:54.708288', '2021-12-01 09:27:54.708288']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#6', '', '', '042-1234-9006', '2021-12-01 09:27:54.716345', '2021-12-01 09:27:54.716345'); args=['가게명#6', '', '', '042-1234-9006', '2021-12-01 09:27:54.716345', '2021-12-01 09:27:54.716345']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#7', '', '', '042-1234-9007', '2021-12-01 09:27:54.722047', '2021-12-01 09:27:54.722047'); args=['가게명#7', '', '', '042-1234-9007', '2021-12-01 09:27:54.722047', '2021-12-01 09:27:54.722047']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#8', '', '', '042-1234-9008', '2021-12-01 09:27:54.741932', '2021-12-01 09:27:54.741932'); args=['가게명#8', '', '', '042-1234-9008', '2021-12-01 09:27:54.741932', '2021-12-01 09:27:54.741932']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#9', '', '', '042-1234-9009', '2021-12-01 09:27:54.757029', '2021-12-01 09:27:54.758046'); args=['가게명#9', '', '', '042-1234-9009', '2021-12-01 09:27:54.757029', '2021-12-01 09:27:54.758046']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#10', '', '', '042-1234-9010', '2021-12-01 09:27:54.765005', '2021-12-01 09:27:54.765005'); args=['가게명#10', '', '', '042-1234-9010', '2021-12-01 09:27:54.765005', '2021-12-01 09:27:54.765005']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#11', '', '', '042-1234-9011', '2021-12-01 09:27:54.770978', '2021-12-01 09:27:54.770978'); args=['가게명#11', '', '', '042-1234-9011', '2021-12-01 09:27:54.770978', '2021-12-01 09:27:54.770978']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#12', '', '', '042-1234-9012', '2021-12-01 09:27:54.777959', '2021-12-01 09:27:54.777959'); args=['가게명#12', '', '', '042-1234-9012', '2021-12-01 09:27:54.777959', '2021-12-01 09:27:54.777959']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#13', '', '', '042-1234-9013', '2021-12-01 09:27:54.787933', '2021-12-01 09:27:54.787933'); args=['가게명#13', '', '', '042-1234-9013', '2021-12-01 09:27:54.787933', '2021-12-01 09:27:54.787933']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#14', '', '', '042-1234-9014', '2021-12-01 09:27:54.796914', '2021-12-01 09:27:54.796914'); args=['가게명#14', '', '', '042-1234-9014', '2021-12-01 09:27:54.796914', '2021-12-01 09:27:54.796914']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#15', '', '', '042-1234-9015', '2021-12-01 09:27:54.804728', '2021-12-01 09:27:54.804728'); args=['가게명#15', '', '', '042-1234-9015', '2021-12-01 09:27:54.804728', '2021-12-01 09:27:54.804728']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#16', '', '', '042-1234-9016', '2021-12-01 09:27:54.811710', '2021-12-01 09:27:54.811710'); args=['가게명#16', '', '', '042-1234-9016', '2021-12-01 09:27:54.811710', '2021-12-01 09:27:54.811710']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#17', '', '', '042-1234-9017', '2021-12-01 09:27:54.819688', '2021-12-01 09:27:54.819688'); args=['가게명#17', '', '', '042-1234-9017', '2021-12-01 09:27:54.819688', '2021-12-01 09:27:54.819688']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#18', '', '', '042-1234-9018', '2021-12-01 09:27:54.826668', '2021-12-01 09:27:54.826668'); args=['가게명#18', '', '', '042-1234-9018', '2021-12-01 09:27:54.826668', '2021-12-01 09:27:54.826668']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#19', '', '', '042-1234-9019', '2021-12-01 09:27:54.834647', '2021-12-01 09:27:54.834647'); args=['가게명#19', '', '', '042-1234-9019', '2021-12-01 09:27:54.834647', '2021-12-01 09:27:54.834647']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#20', '', '', '042-1234-9020', '2021-12-01 09:27:54.842626', '2021-12-01 09:27:54.842626'); args=['가게명#20', '', '', '042-1234-9020', '2021-12-01 09:27:54.842626', '2021-12-01 09:27:54.842626']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#21', '', '', '042-1234-9021', '2021-12-01 09:27:54.850605', '2021-12-01 09:27:54.850605'); args=['가게명#21', '', '', '042-1234-9021', '2021-12-01 09:27:54.850605', '2021-12-01 09:27:54.850605']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#22', '', '', '042-1234-9022', '2021-12-01 09:27:54.857594', '2021-12-01 09:27:54.857594'); args=['가게명#22', '', '', '042-1234-9022', '2021-12-01 09:27:54.857594', '2021-12-01 09:27:54.857594']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#23', '', '', '042-1234-9023', '2021-12-01 09:27:54.864570', '2021-12-01 09:27:54.864570'); args=['가게명#23', '', '', '042-1234-9023', '2021-12-01 09:27:54.864570', '2021-12-01 09:27:54.864570']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#24', '', '', '042-1234-9024', '2021-12-01 09:27:54.872546', '2021-12-01 09:27:54.872546'); args=['가게명#24', '', '', '042-1234-9024', '2021-12-01 09:27:54.872546', '2021-12-01 09:27:54.872546']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#25', '', '', '042-1234-9025', '2021-12-01 09:27:54.882374', '2021-12-01 09:27:54.882374'); args=['가게명#25', '', '', '042-1234-9025', '2021-12-01 09:27:54.882374', '2021-12-01 09:27:54.882374']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#26', '', '', '042-1234-9026', '2021-12-01 09:27:54.888361', '2021-12-01 09:27:54.888361'); args=['가게명#26', '', '', '042-1234-9026', '2021-12-01 09:27:54.888361', '2021-12-01 09:27:54.888361']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#27', '', '', '042-1234-9027', '2021-12-01 09:27:54.897338', '2021-12-01 09:27:54.897338'); args=['가게명#27', '', '', '042-1234-9027', '2021-12-01 09:27:54.897338', '2021-12-01 09:27:54.897338']

(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#28', '', '', '042-1234-9028', '2021-12-01 09:27:54.904317', '2021-12-01 09:27:54.904317'); args=['가게명#28', '', '', '042-1234-9028', '2021-12-01 09:27:54.904317', '2021-12-01 09:27:54.904317']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#29', '', '', '042-1234-9029', '2021-12-01 09:27:54.910303', '2021-12-01 09:27:54.910303'); args=['가게명#29', '', '', '042-1234-9029', '2021-12-01 09:27:54.910303', '2021-12-01 09:27:54.910303']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#30', '', '', '042-1234-9030', '2021-12-01 09:27:54.917287', '2021-12-01 09:27:54.917287'); args=['가게명#30', '', '', '042-1234-9030', '2021-12-01 09:27:54.917287', '2021-12-01 09:27:54.917287']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#31', '', '', '042-1234-9031', '2021-12-01 09:27:54.928539', '2021-12-01 09:27:54.928539'); args=['가게명#31', '', '', '042-1234-9031', '2021-12-01 09:27:54.928539', '2021-12-01 09:27:54.928539']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#32', '', '', '042-1234-9032', '2021-12-01 09:27:54.935521', '2021-12-01 09:27:54.935521'); args=['가게명#32', '', '', '042-1234-9032', '2021-12-01 09:27:54.935521', '2021-12-01 09:27:54.935521']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#33', '', '', '042-1234-9033', '2021-12-01 09:27:54.942502', '2021-12-01 09:27:54.942502'); args=['가게명#33', '', '', '042-1234-9033', '2021-12-01 09:27:54.942502', '2021-12-01 09:27:54.942502']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#34', '', '', '042-1234-9034', '2021-12-01 09:27:54.949552', '2021-12-01 09:27:54.949552'); args=['가게명#34', '', '', '042-1234-9034', '2021-12-01 09:27:54.949552', '2021-12-01 09:27:54.949552']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#35', '', '', '042-1234-9035', '2021-12-01 09:27:54.968544', '2021-12-01 09:27:54.968544'); args=['가게명#35', '', '', '042-1234-9035', '2021-12-01 09:27:54.968544', '2021-12-01 09:27:54.968544']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#36', '', '', '042-1234-9036', '2021-12-01 09:27:54.975527', '2021-12-01 09:27:54.975527'); args=['가게명#36', '', '', '042-1234-9036', '2021-12-01 09:27:54.975527', '2021-12-01 09:27:54.975527']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#37', '', '', '042-1234-9037', '2021-12-01 09:27:54.982428', '2021-12-01 09:27:54.982428'); args=['가게명#37', '', '', '042-1234-9037', '2021-12-01 09:27:54.982428', '2021-12-01 09:27:54.982428']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#38', '', '', '042-1234-9038', '2021-12-01 09:27:54.988527', '2021-12-01 09:27:54.988527'); args=['가게명#38', '', '', '042-1234-9038', '2021-12-01 09:27:54.988527', '2021-12-01 09:27:54.988527']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#39', '', '', '042-1234-9039', '2021-12-01 09:27:54.996511', '2021-12-01 09:27:54.996511'); args=['가게명#39', '', '', '042-1234-9039', '2021-12-01 09:27:54.996511', '2021-12-01 09:27:54.996511']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#40', '', '', '042-1234-9040', '2021-12-01 09:27:55.006486', '2021-12-01 09:27:55.006486'); args=['가게명#40', '', '', '042-1234-9040', '2021-12-01 09:27:55.006486', '2021-12-01 09:27:55.006486']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#41', '', '', '042-1234-9041', '2021-12-01 09:27:55.012468', '2021-12-01 09:27:55.012468'); args=['가게명#41', '', '', '042-1234-9041', '2021-12-01 09:27:55.012468', '2021-12-01 09:27:55.012468']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#42', '', '', '042-1234-9042', '2021-12-01 09:27:55.018453', '2021-12-01 09:27:55.018453'); args=['가게명#42', '', '', '042-1234-9042', '2021-12-01 09:27:55.018453', '2021-12-01 09:27:55.018453']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#43', '', '', '042-1234-9043', '2021-12-01 09:27:55.027429', '2021-12-01 09:27:55.027429'); args=['가게명#43', '', '', '042-1234-9043', '2021-12-01 09:27:55.027429', '2021-12-01 09:27:55.027429']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#44', '', '', '042-1234-9044', '2021-12-01 09:27:55.033413', '2021-12-01 09:27:55.033413'); args=['가게명#44', '', '', '042-1234-9044', '2021-12-01 09:27:55.033413', '2021-12-01 09:27:55.033413']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#45', '', '', '042-1234-9045', '2021-12-01 09:27:55.044383', '2021-12-01 09:27:55.044383'); args=['가게명#45', '', '', '042-1234-9045', '2021-12-01 09:27:55.044383', '2021-12-01 09:27:55.044383']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#46', '', '', '042-1234-9046', '2021-12-01 09:27:55.050312', '2021-12-01 09:27:55.050312'); args=['가게명#46', '', '', '042-1234-9046', '2021-12-01 09:27:55.050312', '2021-12-01 09:27:55.050312']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#47', '', '', '042-1234-9047', '2021-12-01 09:27:55.058376', '2021-12-01 09:27:55.058376'); args=['가게명#47', '', '', '042-1234-9047', '2021-12-01 09:27:55.058376', '2021-12-01 09:27:55.058376']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#48', '', '', '042-1234-9048', '2021-12-01 09:27:55.064430', '2021-12-01 09:27:55.064430'); args=['가게명#48', '', '', '042-1234-9048', '2021-12-01 09:27:55.064430', '2021-12-01 09:27:55.064430']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#49', '', '', '042-1234-9049', '2021-12-01 09:27:55.070347', '2021-12-01 09:27:55.070347'); args=['가게명#49', '', '', '042-1234-9049', '2021-12-01 09:27:55.070347', '2021-12-01 09:27:55.070347']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#50', '', '', '042-1234-9050', '2021-12-01 09:27:55.077329', '2021-12-01 09:27:55.077329'); args=['가게명#50', '', '', '042-1234-9050', '2021-12-01 09:27:55.077329', '2021-12-01 09:27:55.077329']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#51', '', '', '042-1234-9051', '2021-12-01 09:27:55.083329', '2021-12-01 09:27:55.083329'); args=['가게명#51', '', '', '042-1234-9051', '2021-12-01 09:27:55.083329', '2021-12-01 09:27:55.083329']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#52', '', '', '042-1234-9052', '2021-12-01 09:27:55.091311', '2021-12-01 09:27:55.091311'); args=['가게명#52', '', '', '042-1234-9052', '2021-12-01 09:27:55.091311', '2021-12-01 09:27:55.091311']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#53', '', '', '042-1234-9053', '2021-12-01 09:27:55.097294', '2021-12-01 09:27:55.097294'); args=['가게명#53', '', '', '042-1234-9053', '2021-12-01 09:27:55.097294', '2021-12-01 09:27:55.097294']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#54', '', '', '042-1234-9054', '2021-12-01 09:27:55.103373', '2021-12-01 09:27:55.103373'); args=['가게명#54', '', '', '042-1234-9054', '2021-12-01 09:27:55.103373', '2021-12-01 09:27:55.103373']

(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#55', '', '', '042-1234-9055', '2021-12-01 09:27:55.110354', '2021-12-01 09:27:55.110354'); args=['가게명#55', '', '', '042-1234-9055', '2021-12-01 09:27:55.110354', '2021-12-01 09:27:55.110354']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#56', '', '', '042-1234-9056', '2021-12-01 09:27:55.117337', '2021-12-01 09:27:55.117337'); args=['가게명#56', '', '', '042-1234-9056', '2021-12-01 09:27:55.117337', '2021-12-01 09:27:55.117337']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#57', '', '', '042-1234-9057', '2021-12-01 09:27:55.125315', '2021-12-01 09:27:55.125315'); args=['가게명#57', '', '', '042-1234-9057', '2021-12-01 09:27:55.125315', '2021-12-01 09:27:55.125315']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#58', '', '', '042-1234-9058', '2021-12-01 09:27:55.131299', '2021-12-01 09:27:55.131299'); args=['가게명#58', '', '', '042-1234-9058', '2021-12-01 09:27:55.131299', '2021-12-01 09:27:55.131299']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#59', '', '', '042-1234-9059', '2021-12-01 09:27:55.137283', '2021-12-01 09:27:55.137283'); args=['가게명#59', '', '', '042-1234-9059', '2021-12-01 09:27:55.137283', '2021-12-01 09:27:55.137283']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#60', '', '', '042-1234-9060', '2021-12-01 09:27:55.144264', '2021-12-01 09:27:55.144264'); args=['가게명#60', '', '', '042-1234-9060', '2021-12-01 09:27:55.144264', '2021-12-01 09:27:55.144264']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#61', '', '', '042-1234-9061', '2021-12-01 09:27:55.150248', '2021-12-01 09:27:55.150248'); args=['가게명#61', '', '', '042-1234-9061', '2021-12-01 09:27:55.150248', '2021-12-01 09:27:55.150248']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#62', '', '', '042-1234-9062', '2021-12-01 09:27:55.158231', '2021-12-01 09:27:55.158231'); args=['가게명#62', '', '', '042-1234-9062', '2021-12-01 09:27:55.158231', '2021-12-01 09:27:55.158231']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#63', '', '', '042-1234-9063', '2021-12-01 09:27:55.165208', '2021-12-01 09:27:55.165208'); args=['가게명#63', '', '', '042-1234-9063', '2021-12-01 09:27:55.165208', '2021-12-01 09:27:55.165208']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#64', '', '', '042-1234-9064', '2021-12-01 09:27:55.171192', '2021-12-01 09:27:55.171192'); args=['가게명#64', '', '', '042-1234-9064', '2021-12-01 09:27:55.171192', '2021-12-01 09:27:55.171192']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#65', '', '', '042-1234-9065', '2021-12-01 09:27:55.179454', '2021-12-01 09:27:55.179454'); args=['가게명#65', '', '', '042-1234-9065', '2021-12-01 09:27:55.179454', '2021-12-01 09:27:55.179454']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#66', '', '', '042-1234-9066', '2021-12-01 09:27:55.188394', '2021-12-01 09:27:55.188394'); args=['가게명#66', '', '', '042-1234-9066', '2021-12-01 09:27:55.188394', '2021-12-01 09:27:55.188394']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#67', '', '', '042-1234-9067', '2021-12-01 09:27:55.196373', '2021-12-01 09:27:55.196373'); args=['가게명#67', '', '', '042-1234-9067', '2021-12-01 09:27:55.196373', '2021-12-01 09:27:55.196373']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#68', '', '', '042-1234-9068', '2021-12-01 09:27:55.202355', '2021-12-01 09:27:55.202355'); args=['가게명#68', '', '', '042-1234-9068', '2021-12-01 09:27:55.202355', '2021-12-01 09:27:55.202355']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#69', '', '', '042-1234-9069', '2021-12-01 09:27:55.209338', '2021-12-01 09:27:55.209338'); args=['가게명#69', '', '', '042-1234-9069', '2021-12-01 09:27:55.209338', '2021-12-01 09:27:55.209338']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#70', '', '', '042-1234-9070', '2021-12-01 09:27:55.215564', '2021-12-01 09:27:55.215564'); args=['가게명#70', '', '', '042-1234-9070', '2021-12-01 09:27:55.215564', '2021-12-01 09:27:55.215564']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#71', '', '', '042-1234-9071', '2021-12-01 09:27:55.227970', '2021-12-01 09:27:55.227970'); args=['가게명#71', '', '', '042-1234-9071', '2021-12-01 09:27:55.227970', '2021-12-01 09:27:55.227970']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#72', '', '', '042-1234-9072', '2021-12-01 09:27:55.233953', '2021-12-01 09:27:55.233953'); args=['가게명#72', '', '', '042-1234-9072', '2021-12-01 09:27:55.233953', '2021-12-01 09:27:55.233953']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#73', '', '', '042-1234-9073', '2021-12-01 09:27:55.242969', '2021-12-01 09:27:55.242969'); args=['가게명#73', '', '', '042-1234-9073', '2021-12-01 09:27:55.242969', '2021-12-01 09:27:55.242969']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#74', '', '', '042-1234-9074', '2021-12-01 09:27:55.252554', '2021-12-01 09:27:55.252554'); args=['가게명#74', '', '', '042-1234-9074', '2021-12-01 09:27:55.252554', '2021-12-01 09:27:55.252554']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#75', '', '', '042-1234-9075', '2021-12-01 09:27:55.259537', '2021-12-01 09:27:55.259537'); args=['가게명#75', '', '', '042-1234-9075', '2021-12-01 09:27:55.259537', '2021-12-01 09:27:55.259537']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#76', '', '', '042-1234-9076', '2021-12-01 09:27:55.266027', '2021-12-01 09:27:55.266027'); args=['가게명#76', '', '', '042-1234-9076', '2021-12-01 09:27:55.266027', '2021-12-01 09:27:55.266027']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#77', '', '', '042-1234-9077', '2021-12-01 09:27:55.272579', '2021-12-01 09:27:55.273570'); args=['가게명#77', '', '', '042-1234-9077', '2021-12-01 09:27:55.272579', '2021-12-01 09:27:55.273570']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#78', '', '', '042-1234-9078', '2021-12-01 09:27:55.280552', '2021-12-01 09:27:55.280552'); args=['가게명#78', '', '', '042-1234-9078', '2021-12-01 09:27:55.280552', '2021-12-01 09:27:55.280552']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#79', '', '', '042-1234-9079', '2021-12-01 09:27:55.286112', '2021-12-01 09:27:55.286112'); args=['가게명#79', '', '', '042-1234-9079', '2021-12-01 09:27:55.286112', '2021-12-01 09:27:55.286112']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#80', '', '', '042-1234-9080', '2021-12-01 09:27:55.295088', '2021-12-01 09:27:55.295088'); args=['가게명#80', '', '', '042-1234-9080', '2021-12-01 09:27:55.295088', '2021-12-01 09:27:55.295088']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#81', '', '', '042-1234-9081', '2021-12-01 09:27:55.300455', '2021-12-01 09:27:55.300455'); args=['가게명#81', '', '', '042-1234-9081', '2021-12-01 09:27:55.300455', '2021-12-01 09:27:55.300455']

(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#82', '', '', '042-1234-9082', '2021-12-01 09:27:55.308438', '2021-12-01 09:27:55.308438'); args=['가게명#82', '', '', '042-1234-9082', '2021-12-01 09:27:55.308438', '2021-12-01 09:27:55.308438']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#83', '', '', '042-1234-9083', '2021-12-01 09:27:55.325853', '2021-12-01 09:27:55.325853'); args=['가게명#83', '', '', '042-1234-9083', '2021-12-01 09:27:55.325853', '2021-12-01 09:27:55.325853']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#84', '', '', '042-1234-9084', '2021-12-01 09:27:55.331665', '2021-12-01 09:27:55.331665'); args=['가게명#84', '', '', '042-1234-9084', '2021-12-01 09:27:55.331665', '2021-12-01 09:27:55.331665']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#85', '', '', '042-1234-9085', '2021-12-01 09:27:55.337651', '2021-12-01 09:27:55.337651'); args=['가게명#85', '', '', '042-1234-9085', '2021-12-01 09:27:55.337651', '2021-12-01 09:27:55.337651']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#86', '', '', '042-1234-9086', '2021-12-01 09:27:55.346628', '2021-12-01 09:27:55.346628'); args=['가게명#86', '', '', '042-1234-9086', '2021-12-01 09:27:55.346628', '2021-12-01 09:27:55.346628']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#87', '', '', '042-1234-9087', '2021-12-01 09:27:55.352573', '2021-12-01 09:27:55.352573'); args=['가게명#87', '', '', '042-1234-9087', '2021-12-01 09:27:55.352573', '2021-12-01 09:27:55.352573']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#88', '', '', '042-1234-9088', '2021-12-01 09:27:55.359555', '2021-12-01 09:27:55.359555'); args=['가게명#88', '', '', '042-1234-9088', '2021-12-01 09:27:55.359555', '2021-12-01 09:27:55.359555']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#89', '', '', '042-1234-9089', '2021-12-01 09:27:55.366319', '2021-12-01 09:27:55.366319'); args=['가게명#89', '', '', '042-1234-9089', '2021-12-01 09:27:55.366319', '2021-12-01 09:27:55.366319']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#90', '', '', '042-1234-9090', '2021-12-01 09:27:55.373549', '2021-12-01 09:27:55.373549'); args=['가게명#90', '', '', '042-1234-9090', '2021-12-01 09:27:55.373549', '2021-12-01 09:27:55.373549']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#91', '', '', '042-1234-9091', '2021-12-01 09:27:55.380528', '2021-12-01 09:27:55.380528'); args=['가게명#91', '', '', '042-1234-9091', '2021-12-01 09:27:55.380528', '2021-12-01 09:27:55.380528']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#92', '', '', '042-1234-9092', '2021-12-01 09:27:55.386515', '2021-12-01 09:27:55.386515'); args=['가게명#92', '', '', '042-1234-9092', '2021-12-01 09:27:55.386515', '2021-12-01 09:27:55.386515']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#93', '', '', '042-1234-9093', '2021-12-01 09:27:55.393497', '2021-12-01 09:27:55.393497'); args=['가게명#93', '', '', '042-1234-9093', '2021-12-01 09:27:55.393497', '2021-12-01 09:27:55.393497']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#94', '', '', '042-1234-9094', '2021-12-01 09:27:55.399499', '2021-12-01 09:27:55.399499'); args=['가게명#94', '', '', '042-1234-9094', '2021-12-01 09:27:55.399499', '2021-12-01 09:27:55.399499']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#95', '', '', '042-1234-9095', '2021-12-01 09:27:55.406510', '2021-12-01 09:27:55.406510'); args=['가게명#95', '', '', '042-1234-9095', '2021-12-01 09:27:55.406510', '2021-12-01 09:27:55.406510']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#96', '', '', '042-1234-9096', '2021-12-01 09:27:55.414480', '2021-12-01 09:27:55.414480'); args=['가게명#96', '', '', '042-1234-9096', '2021-12-01 09:27:55.414480', '2021-12-01 09:27:55.414480']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#97', '', '', '042-1234-9097', '2021-12-01 09:27:55.420182', '2021-12-01 09:27:55.420182'); args=['가게명#97', '', '', '042-1234-9097', '2021-12-01 09:27:55.420182', '2021-12-01 09:27:55.420182']
(0.015) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#98', '', '', '042-1234-9098', '2021-12-01 09:27:55.428161', '2021-12-01 09:27:55.428161'); args=['가게명#98', '', '', '042-1234-9098', '2021-12-01 09:27:55.428161', '2021-12-01 09:27:55.428161']
(0.000) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#99', '', '', '042-1234-9099', '2021-12-01 09:27:55.434144', '2021-12-01 09:27:55.434144'); args=['가게명#99', '', '', '042-1234-9099', '2021-12-01 09:27:55.434144', '2021-12-01 09:27:55.434144']
(0.016) INSERT INTO "mall13_shop" ("name", "description", "photo", "telephone", "created_at", "updated_at") VALUES ('가게명#100', '', '', '042-1234-9100', '2021-12-01 09:27:55.444121', '2021-12-01 09:27:55.444121'); args=['가게명#100', '', '', '042-1234-9100', '2021-12-01 09:27:55.444121', '2021-12-01 09:27:55.444121']

In [11]:
qs = Shop.objects.all()

In [12]:
qs[:5]

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" ORDER BY "mall13_shop"."id" DESC LIMIT 5; args=()

In [13]:
reversed(qs.order_by("id")[:10])

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" ORDER BY "mall13_shop"."id" ASC LIMIT 10; args=()

In [17]:
for shop in reversed(qs.order_by("id")[:5]):
    print(shop.pk,shop.name,shop.telephone)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" ORDER BY "mall13_shop"."id" ASC LIMIT 5; args=()

5 가게명#1 042-1234-9001
4 피시방 042-1234-1234
3 투썸플레이스 042-1234-1234
2 피시방 042-1234-1234
1 투썸플레이스 042-1234-1234

In [18]:
qs=Shop.objects.all()

In [19]:
qs.filter(pk=1)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE "mall13_shop"."id" = 1 ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=(1,)

In [20]:
qs.exclude(pk=1)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE NOT ("mall13_shop"."id" = 1) ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [21]:
qs.filter(
    pk__lt=10)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE "mall13_shop"."id" < 10 ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=(10,)

<QuerySet [<Shop: Shop object (9)>, <Shop: Shop object (8)>, <Shop: Shop object (7)>, <Shop: Shop object (6)>, <Shop: Shop object (5)>, <Shop: Shop object (4)>, <Shop: Shop object (3)>, <Shop: Shop object (2)>, <Shop: Shop object (1)>]>

In [22]:
qs.filter(
    pk__gte=5,
    pk__lt=10,
)

(0.015) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE ("mall13_shop"."id" >= 5 AND "mall13_shop"."id" < 10) ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=(5, 10)

In [23]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE ("mall13_shop"."id" >= 5 AND "mall13_shop"."id" < 10) ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=(5, 10)

In [25]:
qs1=Shop.objects.all()
qs1=qs1.filter(pk__gte=5)
qs1=qs1.filter(pk__lt=10)

In [26]:
qs2=Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [27]:
qs = Shop.objects.all()

In [28]:
qs = Shop.objects.all()
shop_list = list(qs)

(0.015) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" ORDER BY "mall13_shop"."id" DESC; args=()

In [29]:
pk = 10

In [30]:
shop = Shop.objects.get(pk=pk)
shop

(0.016) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE "mall13_shop"."id" = 10 LIMIT 21; args=(10,)

In [31]:
shop=Shop.objects.filter(pk=pk)  
shop

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE "mall13_shop"."id" = 10 ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=(10,)

In [32]:
pk=10
not_existed_pk = 10000

In [33]:
shop.objects.get(pk=not_existed_pk)

AttributeError: 'QuerySet' object has no attribute 'objects'

In [36]:
Shop.objects.filter(pk=not_existed_pk)[1]

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE "mall13_shop"."id" = 10000 ORDER BY "mall13_shop"."id" DESC LIMIT 1 OFFSET 1; args=(10000,)

IndexError: list index out of range

In [35]:
Shop.objects.filter(pk=not_existed_pk).first()

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE "mall13_shop"."id" = 10000 ORDER BY "mall13_shop"."id" DESC LIMIT 1; args=(10000,)

In [37]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE ("mall13_shop"."id" >= 5 AND "mall13_shop"."id" < 10) ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=(5, 10)

In [39]:
from django.db.models import Q

In [40]:
Q(pk__gte=4)

In [41]:
Q(pk__lt=10)

In [42]:
Q(pk__gte=5) | Q(pk__lt=10)

In [43]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE ("mall13_shop"."id" >= 5 OR "mall13_shop"."id" < 10) ORDER BY "mall13_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [44]:
conditions = Q(pk_gte=5)
conditions |= Q(pk__lt =10)
conditions

In [47]:
qs = Shop.objects.all()
shop = qs.get(pk=4)

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE "mall13_shop"."id" = 4 LIMIT 21; args=(4,)

In [48]:
shop.name, shop.telephone

('피시방', '042-1234-1234')

In [52]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

(0.000) UPDATE "mall13_shop" SET "description" = 'not used description' WHERE "mall13_shop"."id" <= 10; args=('not used description', 10)

10

In [53]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall13_shop"."id", "mall13_shop"."name", "mall13_shop"."description", "mall13_shop"."photo", "mall13_shop"."telephone", "mall13_shop"."created_at", "mall13_shop"."updated_at" FROM "mall13_shop" WHERE "mall13_shop"."id" <= 10 ORDER BY "mall13_shop"."id" DESC; args=(10,)
(0.016) UPDATE "mall13_shop" SET "name" = '가게명#6', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-9006', "created_at" = '2021-12-01 09:27:54.716345', "updated_at" = '2021-12-01 09:42:09.056989' WHERE "mall13_shop"."id" = 10; args=('가게명#6', 'not used description', '', '042-1234-9006', '2021-12-01 09:27:54.716345', '2021-12-01 09:42:09.056989', 10)
(0.000) UPDATE "mall13_shop" SET "name" = '가게명#5', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-9005', "created_at" = '2021-12-01 09:27:54.708288', "updated_at" = '2021-12-01 09:42:09.076936' WHERE "mall13_shop"."id" = 9; args=('가게명#5', 'not used description', '', '042-1234-9005', '2021-12-01 09:27:54.708288', '2021-12-01 09:42:09.076936', 9)
(0.000) UPDATE "mall13_shop" SET "name" = '가게명#4', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-9004', "created_at" = '2021-12-01 09:27:54.701308', "updated_at" = '2021-12-01 09:42:09.085911' WHERE "mall13_shop"."id" = 8; args=('가게명#4', 'not used description', '', '042-1234-9004', '2021-12-01 09:27:54.701308', '2021-12-01 09:42:09.085911', 8)
(0.016) UPDATE "mall13_shop" SET "name" = '가게명#3', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-9003', "created_at" = '2021-12-01 09:27:54.693336', "updated_at" = '2021-12-01 09:42:09.095892' WHERE "mall13_shop"."id" = 7; args=('가게명#3', 'not used description', '', '042-1234-9003', '2021-12-01 09:27:54.693336', '2021-12-01 09:42:09.095892', 7)
(0.000) UPDATE "mall13_shop" SET "name" = '가게명#2', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-9002', "created_at" = '2021-12-01 09:27:54.685351', "updated_at" = '2021-12-01 09:42:09.103867' WHERE "mall13_shop"."id" = 6; args=('가게명#2', 'not used description', '', '042-1234-9002', '2021-12-01 09:27:54.685351', '2021-12-01 09:42:09.103867', 6)
(0.016) UPDATE "mall13_shop" SET "name" = '가게명#1', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-9001', "created_at" = '2021-12-01 09:27:54.668474', "updated_at" = '2021-12-01 09:42:09.112711' WHERE "mall13_shop"."id" = 5; args=('가게명#1', 'not used description', '', '042-1234-9001', '2021-12-01 09:27:54.668474', '2021-12-01 09:42:09.112711', 5)
(0.000) UPDATE "mall13_shop" SET "name" = '피시방', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-1234', "created_at" = '2021-12-01 09:26:52.051272', "updated_at" = '2021-12-01 09:42:09.119691' WHERE "mall13_shop"."id" = 4; args=('피시방', 'not used description', '', '042-1234-1234', '2021-12-01 09:26:52.051272', '2021-12-01 09:42:09.119691', 4)
(0.015) UPDATE "mall13_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-1234', "created_at" = '2021-12-01 09:26:51.643159', "updated_at" = '2021-12-01 09:42:09.130662' WHERE "mall13_shop"."id" = 3; args=('투썸플레이스', 'not used description', '', '042-1234-1234', '2021-12-01 09:26:51.643159', '2021-12-01 09:42:09.130662', 3)
(0.000) UPDATE "mall13_shop" SET "name" = '피시방', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-1234', "created_at" = '2021-12-01 09:24:26.878641', "updated_at" = '2021-12-01 09:42:09.137681' WHERE "mall13_shop"."id" = 2; args=('피시방', 'not used description', '', '042-1234-1234', '2021-12-01 09:24:26.878641', '2021-12-01 09:42:09.137681', 2)
(0.016) UPDATE "mall13_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "photo" = '', "telephone" = '042-1234-1234', "created_at" = '2021-12-01 09:18:27.531818', "updated_at" = '2021-12-01 09:42:09.145660' WHERE "mall13_shop"."id" = 1; args=('투썸플레이스', 'not used description', '', '042-1234-1234', '2021-12-01 09:18:27.531818', '2021-12-01 09:42:09.145660', 1)