In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

In [4]:
shop=Shop()
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [5]:
shop.save()

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:41:04.879220', '2021-12-01 06:41:04.879220'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:41:04.879220', '2021-12-01 06:41:04.879220']

In [6]:
shop = Shop.objects.create(
    name ="셀프24시빨래방",
    telephone ="042-1234-1234"
)

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '042-1234-1234', '', '2021-12-01 06:41:05.197240', '2021-12-01 06:41:05.197240'); args=['셀프24시빨래방', '', '042-1234-1234', '', '2021-12-01 06:41:05.197240', '2021-12-01 06:41:05.197240']

# delect

In [7]:
#for shop in qs:
#    print(shop.pk,shop.name,shop.telephone)

In [8]:
# qs.delete()

# select

In [9]:
qs = Shop.objects.all()

In [10]:
for shop in qs:
    print(shop.pk,shop.name,shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

4 셀프24시빨래방 042-1234-1234
3 투썸플레이스 042-1234-1234
2 셀프24시빨래방 042-1234-1234
1 투썸플레이스 042-1234-1234

In [11]:
qs.order_by ("-id")  #내림차순 (-"")

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# 데이터 뻥튀기

In [14]:
for i in range(1,101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone =telephone,
    )

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:25.820363', '2021-12-01 06:45:25.820363'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:25.820363', '2021-12-01 06:45:25.820363']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:25.839494', '2021-12-01 06:45:25.840492'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:25.839494', '2021-12-01 06:45:25.840492']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:25.852503', '2021-12-01 06:45:25.852503'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:25.852503', '2021-12-01 06:45:25.852503']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:25.869112', '2021-12-01 06:45:25.869112'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:25.869112', '2021-12-01 06:45:25.869112']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:25.878611', '2021-12-01 06:45:25.878611'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:25.878611', '2021-12-01 06:45:25.878611']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:25.887598', '2021-12-01 06:45:25.887598'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:25.887598', '2021-12-01 06:45:25.887598']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:25.894609', '2021-12-01 06:45:25.894609'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:25.894609', '2021-12-01 06:45:25.894609']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:25.901592', '2021-12-01 06:45:25.901592'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:25.901592', '2021-12-01 06:45:25.901592']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:25.910027', '2021-12-01 06:45:25.910027'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:25.910027', '2021-12-01 06:45:25.910027']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:25.917085', '2021-12-01 06:45:25.917085'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:25.917085', '2021-12-01 06:45:25.917085']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:25.927057', '2021-12-01 06:45:25.927057'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:25.927057', '2021-12-01 06:45:25.927057']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:25.939025', '2021-12-01 06:45:25.939025'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:25.939025', '2021-12-01 06:45:25.939025']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:25.945010', '2021-12-01 06:45:25.945010'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:25.945010', '2021-12-01 06:45:25.945010']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:25.953002', '2021-12-01 06:45:25.953002'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:25.953002', '2021-12-01 06:45:25.953002']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:25.960746', '2021-12-01 06:45:25.960746'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:25.960746', '2021-12-01 06:45:25.960746']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:25.967737', '2021-12-01 06:45:25.967737'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:25.967737', '2021-12-01 06:45:25.967737']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:25.978700', '2021-12-01 06:45:25.978700'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:25.978700', '2021-12-01 06:45:25.978700']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:25.985682', '2021-12-01 06:45:25.986683'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:25.985682', '2021-12-01 06:45:25.986683']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:25.993659', '2021-12-01 06:45:25.993659'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:25.993659', '2021-12-01 06:45:25.993659']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:25.999644', '2021-12-01 06:45:25.999644'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:25.999644', '2021-12-01 06:45:25.999644']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:26.007622', '2021-12-01 06:45:26.007622'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:26.007622', '2021-12-01 06:45:26.007622']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:26.014603', '2021-12-01 06:45:26.014603'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:26.014603', '2021-12-01 06:45:26.014603']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:26.022583', '2021-12-01 06:45:26.022583'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:26.022583', '2021-12-01 06:45:26.022583']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:26.039536', '2021-12-01 06:45:26.039536'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:26.039536', '2021-12-01 06:45:26.039536']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:26.045521', '2021-12-01 06:45:26.045521'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:26.045521', '2021-12-01 06:45:26.045521']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:26.054496', '2021-12-01 06:45:26.054496'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:26.054496', '2021-12-01 06:45:26.054496']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:26.060481', '2021-12-01 06:45:26.060481'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:26.060481', '2021-12-01 06:45:26.060481']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:26.068463', '2021-12-01 06:45:26.068463'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:26.068463', '2021-12-01 06:45:26.068463']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:26.076438', '2021-12-01 06:45:26.076438'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:26.076438', '2021-12-01 06:45:26.076438']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:26.083420', '2021-12-01 06:45:26.083420'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:26.083420', '2021-12-01 06:45:26.083420']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:26.091399', '2021-12-01 06:45:26.091399'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:26.091399', '2021-12-01 06:45:26.091399']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:26.097381', '2021-12-01 06:45:26.098380'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:26.097381', '2021-12-01 06:45:26.098380']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:26.108354', '2021-12-01 06:45:26.108354'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:26.108354', '2021-12-01 06:45:26.108354']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:26.115333', '2021-12-01 06:45:26.115333'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:26.115333', '2021-12-01 06:45:26.115333']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:26.123332', '2021-12-01 06:45:26.123332'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:26.123332', '2021-12-01 06:45:26.123332']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:26.129296', '2021-12-01 06:45:26.129296'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:26.129296', '2021-12-01 06:45:26.129296']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:26.151240', '2021-12-01 06:45:26.151240'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:26.151240', '2021-12-01 06:45:26.151240']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:26.158219', '2021-12-01 06:45:26.158219'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:26.158219', '2021-12-01 06:45:26.158219']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:26.165001', '2021-12-01 06:45:26.165001'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:26.165001', '2021-12-01 06:45:26.165001']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:26.173931', '2021-12-01 06:45:26.173931'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:26.173931', '2021-12-01 06:45:26.173931']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:26.179920', '2021-12-01 06:45:26.179920'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:26.179920', '2021-12-01 06:45:26.179920']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:26.186901', '2021-12-01 06:45:26.187942'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:26.186901', '2021-12-01 06:45:26.187942']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:26.194131', '2021-12-01 06:45:26.194131'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:26.194131', '2021-12-01 06:45:26.194131']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:26.201121', '2021-12-01 06:45:26.201121'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:26.201121', '2021-12-01 06:45:26.201121']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:26.208092', '2021-12-01 06:45:26.208092'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:26.208092', '2021-12-01 06:45:26.208092']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:26.214422', '2021-12-01 06:45:26.214422'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:26.214422', '2021-12-01 06:45:26.214422']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:26.222402', '2021-12-01 06:45:26.222402'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:26.222402', '2021-12-01 06:45:26.222402']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:26.230384', '2021-12-01 06:45:26.230384'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:26.230384', '2021-12-01 06:45:26.230384']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:26.240355', '2021-12-01 06:45:26.240355'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:26.240355', '2021-12-01 06:45:26.240355']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:26.247334', '2021-12-01 06:45:26.247334'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:26.247334', '2021-12-01 06:45:26.247334']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:26.254318', '2021-12-01 06:45:26.254318'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:26.254318', '2021-12-01 06:45:26.254318']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:26.264324', '2021-12-01 06:45:26.264324'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:26.264324', '2021-12-01 06:45:26.264324']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:26.271307', '2021-12-01 06:45:26.271307'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:26.271307', '2021-12-01 06:45:26.271307']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:26.278032', '2021-12-01 06:45:26.278032'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:26.278032', '2021-12-01 06:45:26.278032']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:26.286013', '2021-12-01 06:45:26.286013'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:26.286013', '2021-12-01 06:45:26.286013']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:26.291994', '2021-12-01 06:45:26.291994'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:26.291994', '2021-12-01 06:45:26.291994']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:26.297977', '2021-12-01 06:45:26.297977'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:26.297977', '2021-12-01 06:45:26.297977']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:26.304960', '2021-12-01 06:45:26.304960'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:26.304960', '2021-12-01 06:45:26.304960']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:26.311050', '2021-12-01 06:45:26.311050'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:26.311050', '2021-12-01 06:45:26.311050']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:26.318042', '2021-12-01 06:45:26.318042'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:26.318042', '2021-12-01 06:45:26.318042']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:26.325018', '2021-12-01 06:45:26.325018'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:26.325018', '2021-12-01 06:45:26.325018']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:26.331002', '2021-12-01 06:45:26.331002'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:26.331002', '2021-12-01 06:45:26.331002']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:26.337984', '2021-12-01 06:45:26.337984'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:26.337984', '2021-12-01 06:45:26.337984']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:26.343967', '2021-12-01 06:45:26.343967'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:26.343967', '2021-12-01 06:45:26.343967']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:26.350960', '2021-12-01 06:45:26.350960'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:26.350960', '2021-12-01 06:45:26.350960']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:26.358565', '2021-12-01 06:45:26.358565'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:26.358565', '2021-12-01 06:45:26.358565']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:26.364136', '2021-12-01 06:45:26.364136'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:26.364136', '2021-12-01 06:45:26.364136']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:26.371118', '2021-12-01 06:45:26.371118'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:26.371118', '2021-12-01 06:45:26.371118']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:26.377474', '2021-12-01 06:45:26.377474'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:26.377474', '2021-12-01 06:45:26.377474']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:26.384455', '2021-12-01 06:45:26.384455'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:26.384455', '2021-12-01 06:45:26.384455']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:26.395462', '2021-12-01 06:45:26.395462'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:26.395462', '2021-12-01 06:45:26.395462']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:26.403441', '2021-12-01 06:45:26.403441'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:26.403441', '2021-12-01 06:45:26.403441']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:26.409424', '2021-12-01 06:45:26.409424'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:26.409424', '2021-12-01 06:45:26.409424']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:26.416408', '2021-12-01 06:45:26.416408'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:26.416408', '2021-12-01 06:45:26.416408']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:26.425382', '2021-12-01 06:45:26.425382'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:26.425382', '2021-12-01 06:45:26.425382']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:26.430903', '2021-12-01 06:45:26.430903'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:26.430903', '2021-12-01 06:45:26.430903']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:26.440875', '2021-12-01 06:45:26.440875'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:26.440875', '2021-12-01 06:45:26.440875']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:26.446860', '2021-12-01 06:45:26.446860'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:26.446860', '2021-12-01 06:45:26.446860']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:26.453841', '2021-12-01 06:45:26.453841'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:26.453841', '2021-12-01 06:45:26.453841']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:26.459825', '2021-12-01 06:45:26.459825'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:26.459825', '2021-12-01 06:45:26.459825']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:26.465809', '2021-12-01 06:45:26.465809'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:26.465809', '2021-12-01 06:45:26.465809']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:26.472792', '2021-12-01 06:45:26.472792'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:26.472792', '2021-12-01 06:45:26.472792']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:26.480937', '2021-12-01 06:45:26.480937'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:26.480937', '2021-12-01 06:45:26.480937']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:26.487924', '2021-12-01 06:45:26.487924'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:26.487924', '2021-12-01 06:45:26.487924']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:26.494908', '2021-12-01 06:45:26.494908'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:26.494908', '2021-12-01 06:45:26.494908']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:26.505883', '2021-12-01 06:45:26.505883'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:26.505883', '2021-12-01 06:45:26.505883']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:26.511864', '2021-12-01 06:45:26.511864'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:26.511864', '2021-12-01 06:45:26.511864']
(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:26.519843', '2021-12-01 06:45:26.519843'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:26.519843', '2021-12-01 06:45:26.519843']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:26.546055', '2021-12-01 06:45:26.546055'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:26.546055', '2021-12-01 06:45:26.546055']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:26.554036', '2021-12-01 06:45:26.554036'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:26.554036', '2021-12-01 06:45:26.554036']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:26.562889', '2021-12-01 06:45:26.562889'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:26.562889', '2021-12-01 06:45:26.562889']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:26.570877', '2021-12-01 06:45:26.570877'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:26.570877', '2021-12-01 06:45:26.570877']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:26.578333', '2021-12-01 06:45:26.578333'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:26.578333', '2021-12-01 06:45:26.578333']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:26.586318', '2021-12-01 06:45:26.586318'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:26.586318', '2021-12-01 06:45:26.586318']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:26.595440', '2021-12-01 06:45:26.595440'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:26.595440', '2021-12-01 06:45:26.595440']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:26.602420', '2021-12-01 06:45:26.602420'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:26.602420', '2021-12-01 06:45:26.602420']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:26.610398', '2021-12-01 06:45:26.611397'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:26.610398', '2021-12-01 06:45:26.611397']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:26.617399', '2021-12-01 06:45:26.617399'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:26.617399', '2021-12-01 06:45:26.617399']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:26.625365', '2021-12-01 06:45:26.625365'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:26.625365', '2021-12-01 06:45:26.625365']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:26.632027', '2021-12-01 06:45:26.632027'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:26.632027', '2021-12-01 06:45:26.632027']

# slicing

In [15]:
qs = Shop.objects.all()

In [16]:
qs[:10]    #처음10개

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>]>

In [17]:
qs[0:10:2]   # 0-10개 중 2개씩 건너뛰어서 가져온다는 파이썬 스텝은 db는 지원하지 않아서 LIMIT은 10개 가져온거임

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>,
 <Shop: Shop object (96)>]

In [19]:
#qs[-10:] #last 10 rows #db에서는 지원하지 않음(오류)

In [20]:
reversed(qs.order_by("id")[:10])  #차순을 바꿔서 10개 소환

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (1)>, <Shop: Shop object (2)>, <Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>]>

In [21]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk,shop.name,shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001
4 셀프24시빨래방 042-1234-1234
3 투썸플레이스 042-1234-1234
2 셀프24시빨래방 042-1234-1234
1 투썸플레이스 042-1234-1234

# conditions

In [22]:
qs=Shop.objects.all()

In [27]:
#filter<->exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [26]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [28]:
qs.filter(
    pk__lt=10,   #__lt(less than) 보다 작다  __lte(<=) __gt(>) __gte(>=)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" < 10 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(10,)

<QuerySet [<Shop: Shop object (9)>, <Shop: Shop object (8)>, <Shop: Shop object (7)>, <Shop: Shop object (6)>, <Shop: Shop object (5)>, <Shop: Shop object (4)>, <Shop: Shop object (3)>, <Shop: Shop object (2)>, <Shop: Shop object (1)>]>

In [29]:
qs.filter(
    pk__gte=5,
    pk__lt=10,
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [31]:
qs.filter(pk__gte=5).filter(pk__lt=10)  #체이닝

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [32]:
qs1=Shop.objects.all()
qs1=qs1.filter(pk__gte=5)
qs1=qs1.filter(pk__lt=10)

In [34]:
qs2=Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [35]:
#queryset is lazy ...나랑똑같네... 마감에 닥쳐서 일하는 게 정말...나같아...

In [36]:
qs = Shop.objects.all()

In [37]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [38]:
qs = Shop.objects.all()
shop_list = list(qs)  #never 리스트를 습관적으로 만들지마세요 느려집니다

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

# Get 1 Row

In [39]:
pk=10

In [40]:
shop=Shop.objects.get(pk=pk)  #가져올 대상이 한개다 한 개가 아니면 예외가 발생
shop

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [42]:
shop=Shop.objects.filter(pk=pk)  #가져올 대상이 없거나 두 개 이상이다
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(10,)

In [69]:
pk=10
not_existed_pk = 10000

In [70]:
shop.objects.get(pk=not_existed_pk) #예외발생

AttributeError: Manager isn't accessible via Shop instances

In [71]:
Shop.objects.filter(pk=not_existed_pk)[0]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10000,)

IndexError: list index out of range

In [72]:
Shop.objects.filter(pk=not_existed_pk).first()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10000,)

# Conditions(OR)

In [50]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) #AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [51]:
from django.db.models import Q

In [52]:
Q(pk__gte=5)

In [53]:
Q(pk__lt=10)

Q(pk__gte=5) & Q(pk__lt=10)

In [55]:
Q(pk__gte=5) | Q(pk__lt=10)

In [56]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.015) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [58]:
conditions = Q(pk_gte=5)
# conditions = conditions | Q(pk_lt=10)
conditions |= Q(pk__lt =10)
conditions

# update Rows

# 지정 Row

In [65]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [66]:
shop.name, shop.telephone

('가게명#6', '042-1234-9006')

In [67]:
shop.telephone

'042-1234-9006'

# 지정 범위의 Rows

In [68]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description = "not used description",    # 더효율적
)

(0.016) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

10

In [64]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description",
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.032) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = '(''not used description'',)', "telephone" = '042-1234-9006', "photo" = '', "created_at" = '2021-12-01 06:45:25.887598', "updated_at" = '2021-12-01 07:42:51.224078' WHERE "mall_shop"."id" = 10; args=('가게명#6', "('not used description',)", '042-1234-9006', '', '2021-12-01 06:45:25.887598', '2021-12-01 07:42:51.224078', 10)
(0.031) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = '(''not used description'',)', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 06:45:25.878611', "updated_at" = '2021-12-01 07:42:51.251152' WHERE "mall_shop"."id" = 9; args=('가게명#5', "('not used description',)", '042-1234-9005', '', '2021-12-01 06:45:25.878611', '2021-12-01 07:42:51.251152', 9)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = '(''not used description'',)', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 06:45:25.869112', "updated_at" = '2021-12-01 07:42:51.285331' WHERE "mall_shop"."id" = 8; args=('가게명#4', "('not used description',)", '042-1234-9004', '', '2021-12-01 06:45:25.869112', '2021-12-01 07:42:51.285331', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = '(''not used description'',)', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:25.852503', "updated_at" = '2021-12-01 07:42:51.291315' WHERE "mall_shop"."id" = 7; args=('가게명#3', "('not used description',)", '042-1234-9003', '', '2021-12-01 06:45:25.852503', '2021-12-01 07:42:51.291315', 7)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = '(''not used description'',)', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:25.839494', "updated_at" = '2021-12-01 07:42:51.300290' WHERE "mall_shop"."id" = 6; args=('가게명#2', "('not used description',)", '042-1234-9002', '', '2021-12-01 06:45:25.839494', '2021-12-01 07:42:51.300290', 6)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = '(''not used description'',)', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:25.820363', "updated_at" = '2021-12-01 07:42:51.307272' WHERE "mall_shop"."id" = 5; args=('가게명#1', "('not used description',)", '042-1234-9001', '', '2021-12-01 06:45:25.820363', '2021-12-01 07:42:51.307272', 5)
(0.016) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = '(''not used description'',)', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:41:05.197240', "updated_at" = '2021-12-01 07:42:51.315249' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', "('not used description',)", '042-1234-1234', '', '2021-12-01 06:41:05.197240', '2021-12-01 07:42:51.315249', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = '(''not used description'',)', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:41:04.879220', "updated_at" = '2021-12-01 07:42:51.321233' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', "('not used description',)", '042-1234-1234', '', '2021-12-01 06:41:04.879220', '2021-12-01 07:42:51.321233', 3)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = '(''not used description'',)', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:18:13.189788', "updated_at" = '2021-12-01 07:42:51.329223' WHERE "mall_shop"."id" = 2; args=('셀프24시빨래방', "('not used description',)", '042-1234-1234', '', '2021-12-01 06:18:13.189788', '2021-12-01 07:42:51.329223', 2)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = '(''not used description'',)', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:17:34.901195', "updated_at" = '2021-12-01 07:42:51.336194' WHERE "mall_shop"."id" = 1; args=('투썸플레이스', "('not used description',)", '042-1234-1234', '', '2021-12-01 06:17:34.901195', '2021-12-01 07:42:51.336194', 1)

In [1]:
1 + 2

3